streamlit
neo4j
chromadb==1.5.9
spacy
sentence-transformers==5.6.0
ollama
python-dotenv
requests
beautifulsoup4
pandas
plotly
newspaper3k
lxml_html_clean
nltk
pyvis
apscheduler
google-genai
flair
torch==2.12.1
transformers==4.57.6